.top-box {
    width: 100%;
    height:  auto;;
    background-color: rgb(0,0,0);
    position: sticky;
    top: 0;
    z-index: 101;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    padding-left: 20px; 
    z-index: 103;
}


.top-box-texts {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 36px;
   
}

.top-box-text {
    font-size: 14px; 
    margin-right: 10px; 
    display: inline-block; 
    font-family: "fonty2";
    font-size: 17px;

   
}

.top-box-text-light {

    font-family: "fonty";
    font-size: 14px;
    margin-left: 15px;


}




.top-box-text:last-child, .top-box-text-light:last-child {
    margin-right: 0;
}



.demo-drive-link {
            font-size: 14px;
            color: white; 
            text-decoration: none; 
            margin-left: 20px; 
            font-family: "fonty";
            border-bottom: 1px solid white; 
           
   
  
}
    


.demo-drive-link:hover {
 
    
    border-bottom: 2px solid white; 
   
}



.navbar {
    width: 100%;
    background-color: none; /* Semi-transparent black */
    padding: 10px 0;
    position: absolute;
    top: 52px; /* Adjust based on your top-box height */
    z-index: 102;
    display: flex;
    align-items: center; 
    
    
}

.nav-logo {
    margin-right: auto; /* Pushes everything else to the right */
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding: 10px;
    margin: 0 auto; /* Centers the list in the available space */
    align-items: center;
    margin-left: -111px;
    font-family: fonty;
    font-size: 15px;
    position: relative;

}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
   
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease; /* Smooth transition for background-color, color, and padding */
}

.nav-link:hover {
  
    padding: 8px; /* Adds some padding around the text inside the link */
    background-color: rgb(242, 242, 242); /* Light grey background on hover */
    color: black; /* Text color changes to black on hover */
    border-radius: 5px; /* Rounds the corners of the border */
   
    border: none; /* Removes any border */
}


.nav-tesla {
color: white;
    font-size: 20px;
    margin-left: 60px;
    font-family: 'tesla';
    text-decoration: none; 
    
}
.nav-btn {
    background: transparent; /* Make button background transparent */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease; /* Smooth transition for background-color, color, and padding */
}
.nav-btn img {
    width: 24px; /* Adjust width as needed */
    height: 24px; /* Adjust height as needed */
}

.nav-btn:hover {
  
  padding: 8px; /* Adds some padding around the text inside the link */
  background-color: rgb(242, 242, 242); /* Light grey background on hover */
  color: black; /* Text color changes to black on hover */
  border-radius: 5px; /* Rounds the corners of the border */
 
  border: none; /* Removes any border */
}