.top-box {
    width: 100%;
    height:  auto;;
    background-color: rgb(0,0,0);
    position: sticky;
    top: 0;
    z-index: 101;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    padding-left: 20px; 
    z-index: 103;
}


.top-box-texts {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 36px;
   
}

.top-box-text {
    font-size: 14px; 
    margin-right: 10px; 
    display: inline-block; 
    font-family: "fonty2";
    font-size: 17px;

   
}

.top-box-text-light {

    font-family: "fonty";
    font-size: 14px;
    margin-left: 15px;


}




.top-box-text:last-child, .top-box-text-light:last-child {
    margin-right: 0;
}



.demo-drive-link {
            font-size: 14px;
            color: white; 
            text-decoration: none; 
            margin-left: 20px; 
            font-family: "fonty";
            border-bottom: 1px solid white; 
           
   
  
}
    


.demo-drive-link:hover {
 
    
    border-bottom: 2px solid white; 
   
}



.navbar {
    width: 100%;
    background-color: none; 
    padding: 10px 0;
    position: absolute;
    top: 52px; 
    z-index: 102;
    display: flex;
    align-items: center; 
    
    
}

.nav-logo {
    margin-right: auto; 
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding: 10px;
    margin: 0 auto; 
    align-items: center;
    margin-left: -111px;
    font-family: fonty;
    font-size: 15px;
    position: relative;

}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
   
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease; 
}

.nav-link:hover {
  
    padding: 8px; 
    background-color: rgb(242, 242, 242); 
    color: black; 
    border-radius: 5px; 
   
    border: none; 
}


.nav-tesla {
color: white;
    font-size: 20px;
    margin-left: 60px;
    font-family: 'tesla';
    text-decoration: none; 
    
}
.nav-btn {
    background: transparent; 
    border: none; 
    cursor: pointer; 
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease; 
}
.nav-btn img {
    width: 24px; 
    height: 24px; 
}

.nav-btn:hover {
  
  padding: 8px; 
  background-color: rgb(242, 242, 242); 
  color: black; 
  border-radius: 5px; 
 
  border: none; 
}