.h1-section{

font-family: fonty;
justify-content: center;
flex-direction: column;
font-size: 20px;
transform: translateY(-230px);



}



.b{
    margin-left: 120px;
    font-size: 40px;
    margin-bottom: -5px;
}
.a{
    
    margin-top: -10px; /* Adjust this value as needed */
    margin-left: 120px;
    font-family: fonty;
    font-size: 22px;
    margin-bottom: -25px;

}

.c {

margin-left: 55px;
}
.selection-all {
    font-family: fonty;

    transform: translateY(190px);


}





.btn-container {
    display: flex;
    justify-content: space-between;
    width: 210px; /* Adjust based on the total width you'd like */
    
    
    width: 100%;
    height: auto; /* Adjust if you have a specific height in mind */
    gap:  1px;  /* Optional: Adjusts the gap between the video and the image */

}

.b1 {
width: 255px;
height:40px;
border-radius: 5px;
border: none;
background-color: white;
transition: background-color 0.3s ease, color 0.3s ease; 
}
.b1:hover {
    background-color: gainsboro; /* Change background to white on hover */
     }

.b2 {
width: 255px;
height:40px;
border-radius: 5px;
border: solid 2px;
background-color: transparent;
border-color: white;
color: white;
transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color and background-color */
}


.b2:hover {
    background-color: white; /* Change background to white on hover */
    color: black; /* Change text color to black (or any contrasting color) on hover */
}


.p-section{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    


}

.p-section-small{
    display: flex;
    gap: 100px;   /* Adjust the value as needed */
    text-align: cente-inline-start: 5pxr; /* Optional: centers the text within each paragraph */
    font-size:15px;


}

.p-section-small p{
 
}   
